app/scripts/.project
app/scripts/.dbeaver/.credentials-config.json.bak
app/scripts/.dbeaver/.project-metadata.json.bak
app/scripts/.dbeaver/credentials-config.json
app/scripts/.dbeaver/data-sources.json
app/scripts/.dbeaver/project-metadata.json
app/scripts/.dbeaver/project-settings.json
app/scripts/.dbeaver/.data-sources.json.bak
